## DDL: Data Definition Language

### Create

```SQL
CREATE DATABASE <database_name>;
```

```SQL
CREATE TABLE <table_name> (

        <column_name> <data_type> <constraints>,
        <column_name> <data_type> <constraints>,
        <column_name> <data_type> <constraints>,
        <...........> <.........> <...........>
    
)
```

### Alter

#### Alter table

```SQL
ALTER TABLE <old_table_name> RENAME TO <new_table_name>;
```

```SQL
ALTER TABLE <table_name> ADD COLUMN <new_column_name> <datatype>;
```

```SQL
ALTER TABLE <table_name> DROP COLUMN <column_name>;
```

#### Alter column

```SQL
ALTER TABLE <table_name> RENAME COLUMN <old_column_name> TO <new_column_name>;
```

```SQL
ALTER TABLE <table_name> MODIFY <column_name_to_modify> <new_datatype>;
```

```SQL
ALTER TABLE <table_name> ADD CONSTRAINT <constraint_name>
    FOREIGN KEY (<column_name>)
    REFERENCES <foreign_table_name> (<foreign_column_name>)
```

### Truncate

```SQL
TRUNCATE TABLE <table_Name>;
```

### Drop

```SQL
DROP TABLE <table_name>;
```

```SQL
DROP DATABASE <database_name>
```

## Data Manipulation Language (DML)

### Update

```SQL
UPDATE <table_name> SET <colum_name> = <value>, <column_name> = <value>, ... [ WHERE ... ]
```

### Delete

```SQL
DELETE FROM <table_name> [ WHERE ... ]
```

### Insert

```SQL
INSERT INTO <table_name> (<column_name>, <column_name>, <column_name>, ...)
    VALUES (<value>, <value>, <value>, ...)
```

```SQL
INSERT INTO <target_table_name> SELECT <col_1>, <col_2> FROM <source_table_name> [ WHERE ... ] 
```

### Select

#### Popular Select Functions

##### Numeric

* __SUM()__: Calculates the sum of a column.

* __AVG()__: Computes the average of a column.

* __COUNT()__: Counts the number of rows or non-null values in a column.

* __MIN()__: Finds the minimum value in a column.

* __MAX()__: Finds the maximum value in a column.

* __ROUND()__: Rounds a numeric value to a specified number of decimal places.

* __CEIL()__: Rounds a numeric value up to the nearest integer.

* __FLOOR()__: Rounds a numeric value down to the nearest integer.

* __ABS()__: Returns the absolute (positive) value of a number.

* __POWER()__: Raises a number to a specified power.

* __MOD()__: Returns the remainder of a division operation.

* __RAND()__: Generates a random number.

* __SQRT()__: Calculates the square root of a number.

* __LOG()__: Calculates the natural logarithm of a number.

* __EXP()__: Calculates the exponential value of a number.

##### Dates

* __NOW()__: Returns the current date and time.

* __DATE()__: Extracts the date part from a date/time value.

* __DAY()__: Returns the day of the month from a date.

* __MONTH()__: Returns the month from a date.

* __YEAR()__: Returns the year from a date.

* __DATEDIFF()__: Calculates the difference between two dates.

* __DATE_FORMAT(\<appropiate_date_value\>, \<format\>)__: Formats a date value based on a specified format string.

* __ADDDATE(\<date_value\>, INTERVAL \<value\> \<part_of_the_date\>)__: Adds a specified number of days to a date.

* __SUBDATE(\<date_value\>, INTERVAL \<value\> \<part_of_the_date\>)__: Subtracts a specified number of days from a date.

* __DAYNAME()__: Returns the name of the day for a given date.

* __MONTHNAME()__: Returns the name of the month for a given date.

* __WEEK()__: Returns the week number for a given date.

* __WEEKDAY()__: Returns the weekday index for a given date.

* __TIMESTAMPDIFF(\<part_of_the_date\>, \<date_1\>, \<date_2\>)__: Calculates the difference between two timestamps.

* __STR_TO_DATE(\<string\>, \<format\>)__: Converts a string to a date value based on a specified format.

##### Strings

* __CONCAT()__: Concatenates two or more strings together.

* __LENGTH()__: Returns the length of a string.

* __SUBSTRING(\<string\>, \<start_position\>, \<end_position\>)__: Extracts a substring from a string based on a starting position and length.

* __UPPER()__: Converts a string to uppercase.

* __LOWER()__: Converts a string to lowercase.

* __TRIM()__: Removes leading and trailing spaces from a string.

* __REPLACE(\<string\>, \<target_string\>, \<new_string\>)__: Replaces all occurrences of a substring within a string.

* __CHAR_LENGTH()__: Returns the length of a string in characters.

* __LEFT()__: Retrieves a specified number of characters from the beginning of a string.

* __RIGHT()__: Retrieves a specified number of characters from the end of a string.

* __INSTR(\<string\>, \<substring\>)__: Returns the position of a substring within a string.

* __MID()__: Retrieves a substring from a string starting at a specified position.

* __REPEAT()__: Repeats a string a specified number of times.

* __FIND_IN_SET(\<string\>, \<string_list\>)__: Searches for a value within a comma-separated list of values.

## Procedures and Functions

In MySQL, stored procedures and functions serve different purposes and have distinct characteristics. Here are some points to consider when deciding whether to use a procedure or a function:

Stored Procedures:

* Procedural Logic: Stored procedures are primarily used to encapsulate a set of SQL statements and procedural logic. They are well-suited for implementing complex business logic, performing multiple operations, and controlling flow within the database.

* Execution Context: Procedures are executed using CALL statements. They can accept parameters and have local variables, allowing for flexible input and output handling.

* Limited Data Return: Procedures can use OUT parameters to return values, but they are generally used to modify data or perform actions rather than returning result sets or values for further use.

* Flexibility: Procedures can include conditional statements, loops, and other programming constructs, making them suitable for implementing data manipulation, transactions, and application-specific logic.

Stored Functions:

* Data Transformation: Functions are designed to transform input values into calculated or derived output values. They are often used in SELECT statements or as part of expressions within queries.

* Return Values: Functions explicitly return a single value using the RETURN statement. They can be used to return scalar values, result sets, or even user-defined types.

* Determinism: Functions allow you to specify whether they are deterministic or not, enabling query optimization and caching for deterministic functions.

* Reusability: Functions can be easily reused within queries or in other functions, providing a modular approach to data transformation.

In summary, the main difference between stored procedures and functions lies in their purpose and behavior. Stored procedures are focused on executing procedural logic and performing actions within the database, while functions are designed for data transformation and calculation, returning values that can be used in queries or expressions.

```SQL
DELIMITER $$
CREATE PROCEDURE <procedure_name>([IN|OUT] <argument_1> <type>, [...] ... ...)
BEGIN

< ......
COMMANDS
........ >

END &&
DELIMITER ;
```

```SQL
CALL <procedure_name>(<argument_1>, ...)
```

```SQL

/* Returning a table with a function is not possible */

DELIMITER $$
CREATE FUNCTION <function_name>(<argument_1> <type>, ... ...)
RETURNS <type> <characteristic {DETERMINISTIC, NOT DETERMINISTIC, NO SQL, READS SQL DATA, ...}>
BEGIN

< ......
COMMANDS
........ >

END $$
DELIMITER ;
```

```SQL
SELECT FUNCTION(<argument_1>, ...);
```